body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.layout{
  height: 100vh;
}

.action-button {
  width: 5vw;
  min-width: 50px;
  border: none;
  margin-right: 10px;
}


.add {
  background-color: #38B865;
}

.add:hover {
  background-color: #38B865;
}

.add:focus {
  background-color: #38B865;
}

.edit {
  background-color: #FEC633;
}

.edit:hover {
  background-color: #FEC633;
}

.edit:focus {
  background-color: #FEC633;
}

.delete {
  background-color: #F5564A;
}

.delete:hover {
  background-color: #F5564A;
}

.delete:focus {
  background-color: #F5564A;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
}

.contentIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  color: #000;
}

.icon:hover {
  cursor: pointer;
}

.container-buttons {
  display: flex;
  margin-top: 10vh;
  justify-content: space-around;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  margin-top: 24px;
}

.client-content-layout {
  width: 50vw;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container>h5 {
  color: red;
}

.obrigatory-fields {
  width: 100%;
  text-align: end;
  color: red;
}

.content-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
